@tailwind base;

@tailwind components;

@tailwind utilities;

@import "components/buttons";
@import "components/form";
@import "components/threadCard";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


//html {
//    font:16px "Roboto", Arial, Helvetica, sans-serif;
//    @apply .tracking-wide;
//}

.v-cloak {
    display: none;
}

h1, h2, h3, h4, h5 {
    @apply .text-gray-700;
}

a {
    @apply .outline-none;

    &:hover {
        @apply .text-red-500;
        transition: .2s ease-in-out;
    }
}

.bg-point {
    background-color: #1072a4;
}

.text-point {
    color: #1072a4;
}

.border-point {
 border-color: #1072a4;
}

.pagination {
    @apply .flex .mb-6 .p-0 ;

    li {
        @apply .px-3 .pb-1 .border .bg-white;
    }
}



//menu
.topmenu {
    @apply .list-none .ml-10 .flex;
}

.topmenu > li {
    @apply .relative .flex .items-center .rounded ;

    &:hover {
        //@apply .bg-blue-100;
        //transition: 0.3s;
    }

    &:hover .submenu-left, &:hover .submenu-right {
        @apply .visible .opacity-100;
        transform: scale(1);
    }
}

.topmenu > li > a {
    @apply .tracking-wider .px-6 .py-6 .text-gray-700;
    &:hover {
        @apply .text-gray-900;
    }
}

.submenu-left {
    @apply .left-0;
    width: 20rem;
}

.submenu-right {
    @apply .right-0;
    width:13rem;

    a {
        @apply .justify-end;
    }
}

.submenu-left, .submenu-right {
    @apply .invisible .absolute .opacity-0 .z-10;

    top: 100%;
    transform: scale(.8);
    transition: .4s ease-in-out;

    li {
        @apply .bg-white .rounded .border .border-gray-400 .shadow;
        transition: .4s linear;
        margin-bottom: 1px;

        a {
            @apply .flex .px-4 .py-2;
        }

        &:last-child {
            @apply .mb-0;
        }

        &:hover {
            //@apply .bg-blue-200;
            transition: .2s linear;
        }

        &:hover a {
            //@apply .text-blue-800;
        }
    }
}


